@font-face {
    font-family: "NHD-R";
    src: url(./Fonts/NeueHaasDisplay-Roman.ttf);
}

@font-face {
    font-family: "NHD-M";
    src: url(./Fonts/NeueHaasDisplay-Mediu.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #EFEAE3;
    font-family: NHD-M;
}

#loader {
    font-family: nhdm;
    color: #ff5a1b;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all ease-out .7s;
    cursor: default;
}

#mainDiv {
    width: 100%;
    height: 100%;
    font-family: NHD-M;
}

/* ------------------------------ */

/* page 1 style */
#page1 {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 0 2.2vw;
}

/* nav style */
#nav {
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2vw 0;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: NHD-R;
    gap: 8px;
}
#nav-part2 h4 {
    /* font-size: 1.12vw; */
    border: 1px solid rgba(11, 5, 0, .2);
    padding: .8vw 1.67vw;
    font-weight: 400;
    align-items: center;
    border-radius: 100vw;
    position: relative;
    /* transition: all ease .4s; */
    overflow: hidden; 
}
#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 60%;
    transition: all ease .4s;
}
#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}
#nav-part2 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a {
    color: white;
}

#center {
    /* height: 81.3vh; */
    height: 39vw;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* padding-bottom: 5.2vw; */
    padding-bottom: 4.39vw;
    border-bottom: 1px solid #BEBBB5;
}
#left {
    width: 28vw;
}
#left h3 {
    font-size: 1.86vw;
    font-family: NHD-M;
    line-height: 1.9vw;
}
#right {
    width: 72vw;
}
#right h1 {
    font-family: NHD-M;
    font-size: 11vw;
    /* font-size: 160px; */
    text-align: right;
    letter-spacing: -.3vw;
    /* letter-spacing: -5px; */
    line-height: 8.9vw;
    /* line-height: 128px; */
    padding-right: 1.4vw;
}

#hero-shape {
    position: absolute;
    width: 36vw;
    height: 36vw;
    top: 35%;
    right: 0;
}
#hero-1 {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    background-color: #ff5a1b;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 50%;
    animation-name: anime3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(15px);
    top: 6vw;
}
#hero-2 {
    position: absolute;
    width: 50vw;
    height: 30vw;
    background: linear-gradient(#FE320A, #ff5a1b);
    border-radius: 50%;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(25px);
    right: 5vw;
    top: 5.5vw;
}
#hero-3 {
    position: absolute;
    width: 50vw;
    height: 20vw;
    background: linear-gradient(#FE320A, #FF722E);
    border-radius: 40%;
    animation-name: anime1;
    animation-duration: 5s; 
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    filter: blur(25px);
    top: 0vw;
}
@keyframes anime1 {
    from {
        /* transform: translate( -0%, 20%); */
        transform: translate( 0%, 15%);
    }

    to {
        /* transform: translate( -40%, 0%); */
        transform: translate( -40%, 15%);
    }
}

@keyframes anime2 {
    from {
        transform: translate( 0%, -10%);
    }

    to {
        transform: translate( 0%, 0%);
    }
}
@keyframes anime3 {
    from {
        transform: translate(0%, -7%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

video {
    /* width: 27vw;
    height: 27vw; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 4.3vw;
    border-radius: 1.5vw;
    position: relative;
    
}

/* ------------------------------ */

/* Page2 begin */

#page2 {
    width: 100%;
    min-height: 30vh;
    position: relative;
}
#moving-text {
    margin-top: 7vw;
    overflow-x: auto; /* only this div or part will be scroll */
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar {
    display: none;
    /* scroll bar will be removed */
}
.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 14s;
    animation-timing-function: linear;
    /* not smt fast nor stm slow */
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 10vw;
    display: inline-block;
    font-weight: bolder;
}
#dot {
    /* height: 60px;
    width: 60px; */
    height: 4vw;
    width: 4vw;
    display: inline-block;
    border-radius: 50%;
    background-color: #FE320A;
    margin: 1vw 2vw;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translate(-100%);
    }
}
/* page2-bottom */
#page2-bottom {
    /* height: 80vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vw;
    padding: 0vw 0vw 2vw 6.2vw;
    position: relative;
    z-index: 9;
}
#page2-bottom h1 {
    font-size: 4.5vw;
    line-height: 4.6vw;
    width: 70%;
    /* font-size: 64px; */
    padding-right: 12vw;
    /* padding-right: 220px;     */
}
#bottom-part2 {
    width: 28%;
    margin-top: 15vw;
}
#bottom-part2 img{
    height: 13.3vw;
    width: 20vw;
    border-radius: 10px;
}
#bottom-part2 p{
    font-family: NHD-D;
    font-size: 1.1vw;
    font-weight: 100;
    margin-top: 2.9vw;
    margin-right: 6.5vw;
    text-align: justify;
}

#page2 #gooey {
    height: 36vw;
    width: 36vw;
    background: linear-gradient(to top right, #FE320A, #FF722E);
    border-radius: 50%;
    position: absolute;
    /* top: 60%;
    left: 25%; */
    top: 28vw;
    left: 25vw;
    filter: blur(40px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#page2 #gooey1 {
    height: 100%;
    width: 100%;
}
@keyframes gooey {
    from {
        transform: translate(10%, -7%) skew(0);
    }
    to {
        transform: translate(-10%, 7%) skew(-12deg);
    }
}

/* ------------------------------ */

/* page3 begin */

#page3 {
    min-height: 100vh;
    width: 100%;
}
#page3 h3 {
    padding: 6vw 2vw 2vw 2vw;
    font-size: 15px;
    font-family: NHD-R;
    font-weight: 100;
}
#page3 i {
    color: #ff5a1b;
    padding-right: 10px;
}
.elem {
    height: 8.2vw;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    border-bottom: 1px solid #C1BCB5;
    overflow: hidden;
}
.elem h2 {
    font-size: 3vw;
    z-index: 9;
}
.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0%;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 31vw;
    width: 25vw;
    border-radius: 20px;
    position: fixed;
    z-index: 99;
    left: 70%;
    top: 20%;
    display: none;
    background-size: cover;
    background-position: center;
}
#page3 a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 999;
}
#page3 h4{
    margin: 4vw 0 0 2vw;
    width: 11vw;
    height: 3vw;
    font-size: 1.3vw;
    border: 1px solid #BEBBB5;
    border-radius: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#page3 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 60%;
    transition: all ease .4s;
}
#page3 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}
#page3 h4:hover a {
    color: white;
}

#page3 #box {
    display: flex;
    height: 52vw;
    width: 96vw;
    background-color: black;
    margin: auto;
    margin-top: 7vw;
    border-radius: 20px;
}
#box #l-box {
    width: 45%;
    color: white;
    font-size: 3vw;
    /* background-color: black; */
}
.header {
    margin-left: 12vw;
    /* border-left: 1px solid #504B45; */
    font-family: NHD-M;
    line-height: 5.5vw;
    color: #504B45;
}
#l-box h2:nth-child(1) {
    padding-top: 11vw;
    color: white;
}
#l-box p {
    font-size: 1vw;
    /* color: #504b45; */
    color: #EFEAE3;
    font-family: NHD-R;
    margin: 4vw 10vw 0 10vw;
    text-align: justify;
}
#r-box {
    overflow: hidden;
}
#r-box img {
    width: 55vw;
    max-height: 100%;
    display: block; /* Ensures the image doesn't have extra space below it */
    margin: auto; 
    /* background-color: black; */
}
#r-box img {
    width: 53vw;
    height: auto;
    border-radius: 20px;
}

/* ------------------------------ */

/* page4 */
#page4 {
    min-height: 20vh;
    width: 100vw;
}
#page4 h3 {
    padding: 9vw 2vw 5vw 6vw;
    font-size: 15px;
    font-family: NHD-R;
    font-weight: 100;
}
#page4 i {
    color: #ff5a1b;
    padding-right: 10px;
}

.swiper {
    cursor: pointer;
    padding-left: 6vw;
    width: 100%;
    height: 20vw;
}
.swiper p {
    font-size: 1.2vw;
}
.swiper img {
    width: 10vw;
    height: 10vw;
}
.swiper-slide {
    width: 30vw;
    border-left: .1vw solid #aeadad;
    padding: 0 2vw;
}

/* ------------------------------ */
/* page5 */

.last {
    margin-top: 5vw;
    position: relative;
    width: 100%;
    min-height: 20vh;
}

.footer {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 2vw;
    height: 100%;
    color: white;
    background-color: black;
}

.footer-top {
    margin-top: 5vw;
    position: relative;
    width: 90%;
    margin: auto;
    font-size: 2vw;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top-left {
    font-family: NHD-M;
}

.footer-top-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    font-weight: 500;

    font-family: nhdl;
}

.footer-input {
    display: flex;
    color: white;
    justify-content: space-between;
    border-bottom: 1px solid #b5b5b59d;
}

.footer-input input {
    color: white;
    font-size: 1.5vw;
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
}

.footer-input input::placeholder {
    color: #d1cfcfbe;
}

.footer-middle {
    font-family: nhdm;
    font-size: 11vw;
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    color: #EFEAE3;
}

.footer-middle h1 {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #504A45;
}

.footer-bottom {
    font-size: 1.2vw;
    font-family: nhdl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}


.bubble-6 {
    filter: blur(40px);
    position: absolute;
    left: 0;
    top: -4%;
    width: 60%;
    height: 500px;
    border-bottom-right-radius: 50%;
    background-color: orangered;
    animation: animation-div6 8s ease-in-out infinite;
}

.bubble-7 {
    position: absolute;
    width: 30%;
    left: -10%;
    height: 35%;
    background-color: orangered;
    filter: blur(40px);
    transform: rotate(-45deg);
    animation: animation-div6 8s ease-in-out infinite;

}

.bubble-8 {
    filter: blur(40px);
    position: absolute;
    right: 0;
    top: -4%;
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 50%;
    background-color: orangered;
    animation: animation-div6 8s ease-in-out infinite;
    animation-delay: 4s;

}

.bubble-9 {
    position: absolute;
    width: 300px;
    right: -10%;
    height: 300px;
    background-color: orangered;
    filter: blur(40px);
    transform: rotate(45deg);
    animation: animation-div6 8s ease-in-out infinite;
    animation-delay: 4s;
}

@keyframes animation-div6 {
    0% {
        height: 35%;
    }

    50% {
        height: 25%;
    }

    100% {
        height: 35%;
    }
}



/* @media only screen and (max-width: 1042px) {

  } */